<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>nick + amanda</title>
    <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/960.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/nivo-slider.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/raphael.js"></script>
    <script src="/javascripts/nivo.js"></script>
    <script src="/javascripts/gear.js"></script>
  </head>
  <body>
    <div id="container" class="container_12">
    {{ content }}
    </div>
  </body>
</html>
